<h1>Progression</h1>
<p>This application is currently under development</p>

<% if @user %>
  <p>Hi <%= @user.id %></p>
  <%= link_to "Logout", logout_path, method: :delete, data: { turbo_method: :delete } %>
<% end %>
